body {
	margin: 0;
	background: #222;
	color: #EEE;
	height: 100vh;
	max-height: 100vh;

	::selection {
		color: #000;
		background: #FFF8;
	}
}

* { color: inherit; }
input {
	background: #FFF1;
	margin: 0;
	border: none;
	outline: none;
}

button, select, .btn {
	border: 1px solid black;
	background: #444;
	color: white;
	padding: .3em;
	border-radius: .3em;
	margin: .3em;
	cursor: pointer;
	outline: none;

	&:hover {
		border-color: white;
		background: #666;
	}
}

.right {
	justify-content: right;
	text-align: right;
}
.center {
	justify-content: center;
	text-align: center;
}

label>input[type=file] {
	display: none;
}

.icon {
	width:  2em;
	height: 2em;
	text-align: center;
}

.row {
	display: flex;
	flex-flow: row;
}
.col {
	display: flex;
	flex-flow: column;
}
.stack {
	position: relative;
	>.left   { left:   0; position: absolute; }
	>.right  { right:  0; position: absolute; }
	>.top    { top:    0; position: absolute; }
	>.bottom { bottom: 0; position: absolute; }
}

.layer  { background: #FFF2; }
.dark   { background: #2228; }
.red    { background: #F002; }
.green  { background: #0F02; }
.blue   { background: #00F2; }
.yellow { background: #FF02; }

.clickable {
	cursor: pointer;
}

.p1 { padding-inline: 0.5em; padding-block: .375em; }
.p2 { padding-inline: 1.0em; padding-block: .750em;  }

.w1  { width: 10%;  box-sizing: border-box; }
.w2  { width: 20%;  box-sizing: border-box; }
.w3  { width: 30%;  box-sizing: border-box; }
.w4  { width: 40%;  box-sizing: border-box; }
.w5  { width: 50%;  box-sizing: border-box; }
.w6  { width: 60%;  box-sizing: border-box; }
.w7  { width: 70%;  box-sizing: border-box; }
.w8  { width: 80%;  box-sizing: border-box; }
.w9  { width: 90%;  box-sizing: border-box; }
.w10 { width: 100%; box-sizing: border-box; }

.outline {
	border: 1px solid #666;
	&:hover { border: 1px solid #888; }
	&.active { border: 1px solid #BBB; }
}


